<!--The content below is only a placeholder and can be replaced.-->
<div class="main-screen" style="text-align:center">
  <div class="main-screen">
    <button class="main-screen asd cardPardding" mat-raised-button color="warn" (click)="checkValues()">PHQ9 Values</button>
    <button class="main-screen asd cardPardding" mat-raised-button color="warn" (click)="enableLights()">Enable Lights</button>
    <button class="main-screen asd cardPardding" mat-raised-button color="warn" (click)="checkSmartHomeValues()">Smart Home Values</button>

    <!-- Add a button to go to the google fit page-->
    <button class="main-screen asd cardPardding" mat-raised-button color="warn" (click)="checkFit()">Vital Values</button>
  </div>
</div>

<router-outlet></router-outlet>
